{{ if or .widgetEnabled site.Params.widgets.categories }}
<div class="widget widget-categories">
  <h4 class="widget-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M22 19a2 2 0 0 0-2 2H4a2 2 0 0 0-2-2V5a2 2 0 0 0 2-2h5l2 3h9a2 2 0 0 0 2 2z"></path>
    </svg>
    文章分类
  </h4>
  <ul class="categories-list">
    {{ $categoryCount := site.Params.widgets.categoriesCount | default 10 }}
    {{ $cats := slice }}
    {{ range $name, $items := site.Taxonomies.categories }}
      {{ $cats = $cats | append (dict "Name" $name "Count" (len $items)) }}
    {{ end }}
    {{ range first $categoryCount (sort $cats "Count" "desc") }}
    {{ $catSlug := .Name | urlize }}
    {{ $catInfo := partial "category-info.html" $catSlug }}
    <li class="category-item">
      <a href="/{{ $catSlug }}/">
        <span class="category-name">{{- if $catInfo.icon }}<i class="{{ $catInfo.icon }}" style="font-size:0.85rem;margin-right:4px;"></i>{{ end }}{{ $catInfo.title }}</span>
        <span class="category-count">{{ .Count }}</span>
      </a>
    </li>
    {{ end }}
  </ul>
</div>
{{ end }}
