{{ if and .Site.Params.widgets.countdown .Site.Params.countdown.items }}
<div class="widget widget-countdown">
  <h4 class="widget-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <circle cx="12" cy="12" r="10"></circle>
      <polyline points="12 6 12 12 16 14"></polyline>
    </svg>
    倒计时
  </h4>
  <div class="countdown-list">
    {{ range .Site.Params.countdown.items }}
    <div class="countdown-item" data-date="{{ .date }}">
      <span class="countdown-name">{{ .name }}</span>
      <div class="countdown-value">
        <span class="countdown-days">--</span>
        <span class="countdown-unit">天</span>
      </div>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}
