{{ if .Site.Params.widgets.tags }}
<div class="widget widget-tags">
  <h4 class="widget-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l9.41 9.41a2 2 0 0 1 0 2.83z"></path>
      <line x1="7" y1="7" x2="7.01" y2="7"></line>
    </svg>
    标签云
  </h4>
  <div class="tags-cloud">
    {{ $tagCount := .Site.Params.widgets.tagsCount | default 20 }}
    {{ range first $tagCount .Site.Taxonomies.tags.ByCount }}
    <a href="{{ .Page.Permalink }}" class="tag-item" style="font-size: {{ add 0.75 (mul 0.25 (div (math.Log .Count) (math.Log 10))) }}rem;">
      {{ .Page.Title }}
    </a>
    {{ end }}
  </div>
</div>
{{ end }}
