{{ if or .widgetEnabled .Site.Params.widgets.visitor }}
<div class="widget widget-visitor">
  <h4 class="widget-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
      <circle cx="12" cy="10" r="3"></circle>
    </svg>
    IP访客
  </h4>
  <div class="visitor-card" id="visitor-widget">
    <div class="visitor-welcome">欢迎访问我的博客</div>
    <div class="visitor-loading">正在获取访客信息...</div>
  </div>
</div>
{{ end }}
