{{ define "main" }}
{{ $isCat := eq .Data.Plural "categories" }}
{{ $extra := cond $isCat "tags" "categories" }}
<div class="list-page archives-page taxonomy-term-page">
  <header class="list-header">
    <h1 class="list-title">
      {{- if $isCat -}}
        {{- partial "category-display-name.html" (dict "Site" .Site "Slug" .Data.Term) -}}
      {{- else -}}
        {{- .Title -}}
      {{- end -}}
    </h1>
    {{ with .Description }}
    <p class="list-description">{{ . }}</p>
    {{ end }}
    <div class="list-count">共 {{ len .Pages }} 篇文章</div>
  </header>

  <div class="taxonomy-term-body">
    {{ partial "archive-post-list.html" (dict "Pages" .Pages "extraMeta" $extra) }}
  </div>
</div>
{{ end }}
