{{- $pages := .Pages -}}
{{- $extra := default "none" .extraMeta -}}
<ul class="archive-list archive-list--flat">
  {{- range $pages.ByDate.Reverse }}
  {{- $pg := . }}
  <li class="archive-item">
    <time class="archive-date" datetime="{{ $pg.Date.Format "2006-01-02" }}">{{ $pg.Date.Format "01-02" }}</time>
    <a href="{{ $pg.Permalink }}" class="archive-link">{{ $pg.Title }}</a>
    {{- if eq $extra "categories" }}
      {{- with $pg.Params.categories }}
      <span class="archive-category">{{ partial "category-display-name.html" (dict "Site" $pg.Site "Slug" (index . 0)) }}</span>
      {{- end }}
    {{- else if eq $extra "tags" }}
      {{- with $pg.Params.tags }}
      <span class="archive-tag">#{{ index . 0 }}</span>
      {{- end }}
    {{- end }}
  </li>
  {{- end }}
</ul>
